@import url(https://fonts.googleapis.com/css?family=Pattaya|Roboto:400,700);

/*===== GLOBAL =====*/
body {
  font-family:Roboto,sans-serif;
}

/*===== WELCOME =====*/
.welcome {
  position:absolute;
  height:100vh;
  width:100vw;
  overflow:hidden;
}
.btn-welcome {
  margin-top:40vh;
  font-size:48px;
}
#bg {
  position:fixed;
  top:0;
  left:0;
}
.bgwidth {
  width:100%;
}
.bgheight {
  height:100%;
}

/*===== NAV =====*/
.my-navbar {
  position:fixed;
  width:100%;
  top:0;
  z-index:9999;
  background-color:#222;
}
.my-brand {
  font-family:Pattaya,cursive;
  font-size:24px;
  color:#FF7F00 !important;
}
.nav-text {
  color:#CCC !important;
}

/*===== JUMBOTRON =====*/
.jumbo-top {
  margin-top:50px;
}
.jumbo-bottom {
  margin-bottom:50px;
  height:300px;
  background-image:url(../img/restaurante.png);
  background-size:cover;
  background-repeat:no-repeat;
}
.jumbo-bottom h3 {
  color:#FFF;
}

/*===== CONTACT =====*/
.avatar {
  width:100%;
}
.contact-main {
  margin-bottom:100px;
}

/*===== FOOTER =====*/
.footer {
  position:fixed;
  width:100%;
  z-index:9999;
  bottom:0;
  background-color:#222;
  color:#CCC;
  padding:15px;
}
.social, .social:hover {
  text-decoration:none;
  color:#3F7FFF;
}
